<div class="banner home">
  <div class="container">
    <h1>Save your favorite movies</h1>
  </div>
</div>

<div class="category-title">
  <h3>My lists</h3>
  <div class="btn-green">
    <%= link_to "New list", new_list_path %>
  </div>
</div>


<ul>
  <div class="grid">
    <% @lists.each do |list|  %>
      <div class="list-card">
        <li>
          <h3><%= list.name %></h5>
          <div class="gradient">
              <%= cl_image_tag list.photo.key, alt: "List photo", crop: :fill, class: "img" %>
          </div>
          <div class="buttons">
            <%= link_to 'Go to list', list_path(list), class: 'btn-black-thin'%>
            <%= link_to "Delete", list_path(list), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-red-thin ' %>
          </div>
        </li>
      </div>
      <% end %>
    </div>
</ul>

