<div class="banner gradient">
  <%# <div class="image" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=@list.img_url%>);"> %>
    <h1><%= @list.name %></h1>
  </div>
</div>

<ul>
  <div class="grid">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="movie-card">
        <li>
          <%= image_tag asset_url(bookmark.movie.poster_url), alt: "Movie Poster", class: "logo"%>
          <h5 class="bold"><%= bookmark.movie.title %> <span class="rating"><%= bookmark.movie.rating %><i class="fas fa-star" style="color:yellow;"></i></span></h5>
          <p class="overview"><%= bookmark.movie.overview %></p>
          <p class="comment"><i class="fas fa-quote-left">     </i><%= "     "+bookmark.comment.capitalize %></p>
          <%= link_to raw('<i class="fas fa-trash-alt"></i>'), bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-red-thin" %>
        </li>
      </div>
    <% end %>
  </div>
</ul>


<div class="buttons">
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn-green" %>
  <%= link_to "Back to list", root_path, class: "btn-green" %>
</div>


