<div class="buttons end">
  <%= link_to "My lists", root_path, class: "btn-black" %>
  <%= link_to "New list", new_list_path, class: "btn-black" %>
</div>

<div class="banner show" class="image" style="color:transparent;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key %>')">
    <h1><%= @list.name %></h1>
</div>

<div class="buttons end">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn-green" %>
</div>

<ul>
  <div class="grid">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="movie-card">
        <li>
          <%= image_tag asset_url(bookmark.movie.poster_url), alt: "Movie Poster", class: "logo"%>
          <h5 class="bold"><%= bookmark.movie.title %> <span class="rating"><%= bookmark.movie.rating %><i class="fas fa-star" style="color:yellow;"></i></span></h5>
          <p class="overview"><%= bookmark.movie.overview %></p>
          <p class="comment"><i class="fas fa-quote-left">     </i><%= "     "+bookmark.comment.capitalize %></p>
          <%= link_to raw('<i class="fas fa-trash-alt"></i>'), bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-red-thin" %>
        </li>
      </div>
    <% end %>
  </div>
</ul>

<hr>

<h2>Reviews</h2>

<div class="grid-two">

  <ul clas="grid-item">
    <li>
    <div class="review-card">
        <% @list.reviews.each do |review| %>
          <h5><%= review.rating %><i class="fas fa-star" style="color:yellow;"></i></h5>
          <p><%= review.content.capitalize %></p>
          <%= link_to raw('<i class="fas fa-trash-alt"></i>'), review_path(review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-red-thin" %>
        <% end %>
      </div>
    </li>
  </ul>


  <div class="grid-item">
    <h3>Add a review</h3>
    <%= simple_form_for([@list, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %> 
      <%= f.submit %>
    <% end %>
  </div>
</div>





